{% extends 'base.html.twig' %}

{% block title %}Template anlegen{% endblock %}

{% block head %}
  <style>
    .tox-notification { display: none !important }
  </style>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">

        <h1>Template anlegen</h1>
        {% if error|length %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {% endif %}
      </section>
      <!-- Main content -->
      <section class="content">
        
        <div class="row"> 
          
          <!-- left column -->
          <div class="col-md-6">
            <div class="box box-warning">
                {# <div class="box-header with-border">
                    <h3 class="box-title">Supporter anlegen</h3>
                </div> #}
                <!-- /.box-header -->
                <div class="box-body">
                  <!-- text input -->
                  <form action="{{path('template_new')}}" method="POST" enctype="multipart/form-data"> 
                    <div class="form-group">
                        <label for="Templatename">Templatename</label>
                        <input type="text" class="form-control" id="templatename" name="templatename" placeholder="" value="{{templatename}}">
                    </div>
                    <div class="form-group">
                        <label for="EmailText">Email-Template</label>
                        <textarea class="form-control" type="text" id="template" name="template" rows="12">{{template}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="Dokument">Anhang (option)</label>
                        <input class="form-control" type="file" name="dokument" id="dokument">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary" name="savebutton" value="true">Speichern</button>
                    </div>
                  </form>
                    
                </div>
			          <div class="box-footer">
                    <b>* Platzhalter im Email-Template:</b><br>
                    {{briefanrede}}<br>
                    {{anrede}}<br>
                    {{vorname}}<br>
                    {{nachname}}<br>
                    {{user_id}}<br>
                    {{anmeldelink}}<br><br>
                </div>
                <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
  
  <!-- /.content-wrapper -->
{% endblock %}

{% block zusatz %}

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>

  <script>
      $('textarea#template').tinymce({
        height: 400,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
      });
  </script>
    
{% endblock %}